div.container-fluid
	div.row
		.col-lg-11.ml-auto.filter.reverse.py-5.px-lg-5
			h2.smallTitle Explore by type
			ul.list-unstyled.d-flex.flex-row.flex-wrap.justify-content-around.justify-content-lg-start
				li.active
					a(href="") Agenda
						sup (14)
				li
					a(href="") Actualités
						sup (4)