section.container-fluid.top(
	style="background-image: url(./img/article.png);"
)
	.container.h-100
		.row.h-100.align-items-end
			div.col-12.px-0.px-lg-3
				header.col-xxl-7
					span.tags Events
					h2 Nouveau management pour LEFORT DEUTSCHLAND
					<time datetime="28-09-2020">28 Septembre</time>
				footer.col-12
					a(href="/agenda.html") Read more