footer.container-fluid.position-relative
	a.goTop(href="#top" title="Go to top")
		img(src="./img/feather-arrow-up-right.svg", alt="Go to top")
	div.container
		div.row
			.col-lg-12.topFooter
				img.logo(src="./img/logo.svg", alt="")
			.col-lg-12.px-0.footerList.d-flex.flex-row.flex-wrap
				.col-lg-2.col-md-6.col-sm-6.col-xs-6.col-6.pb-3.px-lg-0.itemGroupe
					h2 Le groupe
					ul.list-unstyled
						li
							a(href="") Groupe Lefort
						li
							a(href="") Histoire de Lefort
						li
							a(href="/agendas.html") Agenda
						li
							a(href="") News
				.col-lg-2.col-md-6.col-sm-6.col-xs-6.col-6.pb-3.px-lg-0.itemAbout.d-flex.flex-xl-row.flex-column.flex-wrap.aling-items-start.justify-content-start.align-content-start
					h2.w-100 About
					ul.list-unstyled.px-0.mb-0
						li
							a(href="") Carrière
						li
							a(href="") Vidéos
						li
							a(href="") Services
						li
							a(href="") Contact
					ul.list-unstyled.px-xxl-5.px-xl-3
						li
							a(href="") Distributeurs
						li
							a(href="") Occasions
				.col-lg-2.col-md-6.col-sm-6.col-xs-6.col-6.pb-3.px-lg-0.itemProduits
					h2 Produits
					ul.list-unstyled
						li
							a(href="") Cisailles
						li
							a(href="") Presse
						li
							a(href="") Broyeurs
				.col-lg-2.col-md-6.col-sm-6.col-xs-6.col-6.pb-3.px-lg-0.itemContact
					h2 Contact us
					ul.list-unstyled
						li +32 71 35.16.09
						li
							a(href="mailto:info@lefort.com") info@lefort.com
				.col-lg-1.social.ml-auto
					ul.d-flex.flex-row.flex-lg-column.flex-wrap.list-unstyled.justify-content-center.justify-content-sm-start
						li
							a(href="").px-3
								i(class="fab fa-facebook fa-lg")
						li
							a(href="").px-3
								i(class="fab fa-instagram fa-lg")
						li
							a(href="").px-3
								i(class="fab fa-linkedin-in fa-lg")
						li
							a(href="").px-3
								i(class="icon-youtube fa-lg")
			.col-lg-11.copyright.d-flex.flex-row.flex-wrap.align-items-center.justify-content-around.mx-auto
				p &copy; LEFORT | Scrap Shear Baler 2020, tous droits réservés
				p.py-2.py-md-0
					a(href="") Termes et conditions.
					a(href="") Politique de cookies.
				a(href="").btn.btn-light.rounded.px-3.mt-3.mt-lg-0 Suppliers area
					i(class="fas fa-sign-in-alt pl-4")
