section.access.col-lg-6.col-12.d-flex.flex-row.flex-wrap.align-items-start.justify-content-end.px-0
	div
		header.reverse
			h2.smallTitle.p-0.m-0 Accès direct
				i.icon-up.reverse
		.content
			ul.list-unstyled
				li.revendeurs
					a(href="")
						span Revendeurs
						img(src="./img/glob.svg", alt="")
				li.services
					a(href="")
						span Services
						img(src="./img/cog.svg", alt="")
				li.occasion
					a(href="")
						span Occasion
						img(src="./img/ico-lefort-shears.png", alt="")