section.brochures.col-lg-6.bg-primary.d-flex.flex-row.flex-wrap
	header.col-lg-12
		h2 Brochures
	.content.col-lg-12
		.d-flex.flex-row.flex-wrap.align-items-center.justify-content-center
			img.brochure-01(src="img/brochure-01.png", alt="")
			img.brochure-02(src="img/brochure-02.png", alt="")
	footer.col-lg-12.align-self-end
		div
			span 
				sup 01
				| Brochure
				i.icon-up.reverse
		div
			a.btn.btn-light(href="") Download