div.data.container-fluid
	.container.h-100
		div.row.h-100.align-items-center
			div.col-xl-10.col-12.d-flex.flex-row.flex-wrap.align-items-center.justify-content-center.mx-auto.py-4.py-xl-auto
				.col-lg-4.col-md-6.col-12
					div.d-table.mx-auto
						span Plus de&nbsp;
						span.count(
							data-val="75"
						)
							span 75
						span &nbsp;ans d'expériences
				.col-lg-4.col-md-6.col-12
					div.d-table.mx-auto
						span Une entreprise
						span.count(
							data-val="100"
						) 
							span 100
							| %
						span &nbsp;familial
				.col-lg-4.col-md-6.col-12
					div.d-table.mx-auto
						span Présent dans&nbsp;
						span.count(
							data-val="45"
						)
							span 45
						span &nbsp;Pays