section.histoire.col-lg-6.d-flex.flex-row.flex-wrap.align-items-center.justify-content-center
	div.col-lg-9
		header
			h2.smallTitle.p-0.m-0 Le groupe
				i.icon-up
		.content
			p
				a(href="") Fondée en 1947
				| , Lefort satisfait aux exigences les plus pointues du marché du recyclage des métaux.
		footer
			a.btn.btn-secondary.btn-large(
				href=""
			) Le groupe lefort