section.container-fluid.reseau
	.container
		.row
			header.col-lg-12.px-0.d-flex.flex-row.flex-wrap.justify-content-between.align-items-center
				.col-lg-6.col-6
					span.smallTitle Lefort
						i.icon-up
					h2 Notre réseau
				.col-lg-6.col-6.d-flex.flex-box.flex-wrap.justify-content-end
					a.btn.btn-secondary.btn-large(href="") Distributeurs
			div.menu.pl-lg-3
				ul.list-unstyled
					li.active
						a(href="") Europe
							span (6)
							i.icon-up.icon-up-xl.color-primary(
								style="top: -20px;"
							)
					li
						a(href="") Usa
							span
					li
						a(href="") Asia
							span
					li
						a(href="") Africa
							span
			.col.d-flex.flex-row.flex-wrap.align-items-start.justify-content-end
				img.w-100(src="img/world_map.png", alt="")