section.videos.col-lg-6.d-flex.flex-row.flex-wrap
	header.col-lg-12
		h2 Vidéos
	.content.col-lg-12.d-flex.flex-row.flex-wrap.align-items-center.justify-content-center
		button.btn.btn-primary.play
			img(src="img/play.svg", alt="")
	footer.col-lg-12.align-self-end
		div
			span 
				sup 01
				| Gallerie vidéo
				i.icon-up.reverse
		div
			a.btn.btn-primary(href="https://www.youtube.com/channel/UC1cz2IM6QrZ3_9cR8xlVZxA" target="_blank") Notre chaine youtube