article.container
	div.row
		div.d-none.d-lg-flex.col-2.arrowKeepScroll.flex-column.flex-wrap.align-items-center.justify-content-center
			span Keep Scroll
			img(src="./img/keep_scroll.svg", alt="")
		.col-lg-10.col-12.ml-auto.articleWrap
			img(src="./img/article.png", alt="")
			div.col-lg-11.ml-lg-auto.articleContent
				.col-12.px-0.px-lg-3
					header.col-12.px-0
						div.col-xxl-6.col-md-10.px-0
							time.badge.badge-primary Octobre 13, 2020
							h3 ISRI's Convention &amp; Exposition the world's largest annual scrap recycling event.
					.content.col-lg-11.px-0
						div.infosArticle
							ul.list-unstyled.d-flex.flex-row.flex-wrap
								li.country
									i(class="fas fa-map-marker-alt")
									| Las vegas, USA
								li.date
									i(class="far fa-calendar-alt")
									| 27-30 April
								li.link
									i(class="fas fa-link")
									a(href="") https://isri2020.org
						div.text
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam culpa vitae ipsa atque impedit tempora neque soluta officiis sequi, dolorum veniam nisi accusamus maxime adipisci? Numquam dolor doloribus corrupti eveniet.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum accusamus magnam quod dignissimos quae? Ut id saepe molestias, eveniet magni nisi quia voluptates ullam, ab nam quae perspiciatis, accusamus impedit!
					footer.col-12.px-0.d-flex.flex-row.flex-wrap.justify-content-start.align-items-center
						div.col-lg-3.px-0.text-center.text-lg-left.pb-3.pb-lg-auto
							h4 Des questions ?
						div.col-lg-6.ml-auto.d-flex.flex-row.flex-wrap.align-items-center.justify-content-center
							a.btn.btn-primary.btn-large(href="") Contactez-nous